/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body{ 
    background-image: url(../imagenes/FONDO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DM Sans';
}


#boton{
    inline-size: 3vh;
    font-family: 'DM Sans';
}

.carousel{
    margin-bottom: 4rem;
    font-family: 'DM Sans';
}

.carousel-caption{
    bottom: 3rem;
    z-index: 10;
    font-family: 'DM Sans';
}

.carousel-item{
    height: 32rem;
    font-family: 'DM Sans', cursive;
}

rect{
    background-image: url(../imagenes/imgLogin.png);
    background-size: initial;
    font-family: 'DM Sans';
}
