body{
    background-image: url("../imagenes/FONDO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DM Sans', cursive;
}

#boton{
    inline-size: 3vh;
    font-family: 'DM Sans', cursive;
}

img{
    width: 200vh;
    vertical-align: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-family: 'DM Sans', cursive;
}

.container__for{
    background-color: #0a1e35;
    border-radius: 5vh;
    opacity: 0.85;
    font-family: 'DM Sans', cursive;
}


.cont1{
    background-color: #556374;
    border-radius: 5vh;
    opacity: 0.85;
    font-family: 'DM Sans', cursive;
}

.cont2{
    background-color: #556374;
    border-radius: 5vh;
    opacity: 0.85;
    font-family: 'DM Sans', cursive;
}
