body{
    background-color: #000;
    background-image: url(../imagenes/Fondo\ Regalos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}

.cabecera h1{
    margin: 0;
    padding: 0 0 5%;
    text-align: center;
    font-size: 10em;
    color: rgb(241, 21, 241);
    -webkit-text-stroke: 0.003em #000;
    position: absolute;
    top: 0;
    left: 24%;
    font-family: 'Comforter Brush', cursive;
}

.cabecera p{
    margin: 4em;
    padding: 0 0 5%;
    text-align: center;
    font-size: 3em;
    color: red;
    -webkit-text-stroke: 0.03em #000;
    font-family: 'Alkalami', serif;
    position: relative;
    left: 3%;
}           

.login-box{
    width: 20%;
    background: rgba(0, 0, 0, 0.5);
    color: black;
    position: absolute;
    top: 40%;
    left: 40%;
    box-sizing: border-box;
    padding: 1% 1%;
    color: #fff;
    
}

.login-box .avatar{
    position: relative;
    width: 50%;
    height: 50%;
    left: 25%;
}

.login-box h2{
    margin: 0;
    padding: 0 0 10%;
    text-align: center;
    font-size: 1.3em;
}

#menu {
    overflow: hidden;
    list-style-type: none;
    position: absolute;
    left: 5%;
    top: 25%;
}

#menu li a{
    display: block;
    color: rgb(230, 7, 63) ;
    padding: 4%;
    font-size: 1.3em; 
    text-align: center;
    font-family: 'Bungee', cursive;
    background-color: burlywood;
    text-decoration: none;
    border-radius: 40%; 
}

li {
    margin-bottom: 10%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 70%;
    padding: 0% 15%;
    background-color: dimgray;
    color: #fff;
    text-align: center;
}   

.contenedor-footer{
    display: flex;
    width: flex;
    justify-content: space-between;
    margin: auto;
}

.parrafo {
    position: relative; 
}

.redes {
    position: absolute;
    right: 5%;
}

