body{
    background-color: #000;
    background-image: url(../imagenes/Fondo\ Regalos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.cabecera h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 10em;
    color: purple;
    -webkit-text-stroke: 1px #000;
    position: absolute;
    top: 0;
    left: 27%;
    font-family: 'Comforter Brush', cursive;
}

.cabecera p{
    margin: 7em;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    color: red;
    -webkit-text-stroke: 1px #000;
}           

.login-box{
    width: 290px;
    background: rgba(0, 0, 0, 0.5);
    color: black;
    position: absolute;
    top: 40%;
    left: 40%;
    box-sizing: border-box;
    padding: 10px 10px;
    color: #fff;
    
}

.login-box .avatar{
    width: 100px;
    height: 100px;
    position: relative;
    top: 3px;
    left: calc(50% - 50px);
    
}

.login-box h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #fff;
}

.login-box .textbox i{
    width: 26px;
    float: left;
    text-align: center;
}

.login-box .textbox input{
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    color: darkgrey;
}

.login-box a:hover{
    color: #39dc79;
}

#menu {
    overflow: hidden;
    list-style-type: none;
    position: absolute;
    left: 5%;
    top: 20%;
}

#menu li a{
    display: block;
    color: rgb(230, 96, 7) ;
    padding: 0px 10px;
    margin-top: 10%;
    font-size: 25px; 
    text-align: center;
    font-family: 'Bungee', cursive;
    background-color: burlywood;
    height: 1.5em; 
    text-decoration: none;
    border-radius: 35%;
    margin: 0px 10px;
}

li {
    margin-bottom: 10%;
}


footer{
    position: fixed;
    bottom: 0;
    width: 70%;
    padding: 0% 15%;
    background-color: dimgray;
    color: #fff;
    text-align: center;
}   

.contenedor-footer{
    display: flex;
    width: flex;
    justify-content: space-between;
    margin: auto;
}

.parrafo {
    position: relative; 
}

.redes {
    position: absolute;
    right: 5%;
}