body{
    background-image: url("../imagenes/fondoBuscar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#boton{
    inline-size: 3vh;
}

.container__for{
    background-color: #0a1e35;
    border-radius: 5vh;
    opacity: 0.85;
}


.cont1{
    background-color: #556374;
    border-radius: 5vh;
    opacity: 0.85;
}

.cont2{
    background-color: #556374;
    border-radius: 5vh;
    opacity: 0.85;
}