body{
    background-image: url("../imagenes/FONDO.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DM Sans', cursive;
}

#boton{
    inline-size: 3vh;
    font-family: 'DM Sans', cursive;
}
