body{ 
    background-image: url("../imagenes/fondoBuscar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#boton{
    inline-size: 3vh;
}


#suscribe{
    font-size: 3vh;
}


.cabecera h1{
    text-align: center;
    font-size: 17vw;
    color: rgb(134, 72, 216);
    -webkit-text-stroke: 0.015em #000;
    font-family: 'Comforter Brush', cursive;
}

.cabecera p{
    padding: 0 0 5%;
    text-align: center;
    font-size: 8vw;
    color: red;
    -webkit-text-stroke: 0.03em #000;
    font-family: 'Amatic SC', cursive; 
}           


















