body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/Fondo\ RegalosLogin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container__for{
    background-color: #0a1e35;
    border-radius: 15px;
    padding: 40px;
    opacity: 0.9;
}

img{
    width: 100px;
    height: 100px;
    margin-left: 110px;
}

h2{
    text-align: center;
    color: white;
}

input{
    display: block;
    width: 300px;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 18px;
    outline: none;
    border: none;
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
}

.check{
    width: 15px;
    height: 15px;
    display: inline;
   }
label{
    color: white;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 45px;
}

.boton{
    width: 150px;
    border-radius: 15px;
    background-color: #048620;
    color: black;
    margin-top: 30px;
    border: none;
    border-bottom: 4px solid #0b5a1c;
    margin-left: 96px;
    }
a:hover{
    color: #b8b8b8b8;
}
label:hover{
    color: #b8b8b8b8;
}

.boton:active{
    background-color: #0b5a1c;
    width: 145px;
         
}

